    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <app-header></app-header>
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
            <app-sidebar></app-sidebar>
            <div class="m-content" style="width:100%; height: 100%">
                <div class="m-content" style="width:100%">
            
                    <div class="m-portlet m-portlet--mobile">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        {{name}}
                                    </h3>
                                </div>
                            </div>
                            
                        </div>
                        <div class="m-portlet__body">
                            
                            <ul class="nav nav-pills nav-pills--success" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#m_tabs_4_2" (click) = 'getDishRank()'>
                                        菜单Rank修改
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#m_tabs_4_3" (click) = 'getDishList();status = "dish" '>
                                        添加/删除菜单
                                    </a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#m_tabs_4_4" (click) = 'initToppingList();status = "second" '>
                                            二级菜单
                                        </a>
                                </li>
                                <div style="display:inline-flex;margin-left: 37%;">
                                        <span class="m-list-search__form-input-wrapper" style = 'margin-right:20px'>
                                                <input class = "form-control m-input" autocomplete="off" type="text" name="q" [(ngModel)]="keyword" placeholder="Search...">
                                        </span>
                                        <button type="button" class="btn btn-primary" (click) = 'search()'>
                                                Search
                                        </button> 
                                </div>
                                
                            </ul>
                            <div class="tab-content">

                                <div class="tab-pane active" id="m_tabs_4_2" role="tabpanel" style="overflow:visible">
                                        <div class="m-section__content">
                                                <table class="table m-table m-table--head-separator-primary" >
                                                    <thead>
                                                    <tr>
                                                        <th>
                                                            ID
                                                        </th>
                                                        <th>
                                                            NAME
                                                        </th>
                                                        <th>
                                                            RANK
                                                        </th>
                                                        <th *ngIf="!editing">
                                                            Edit
                                                        </th>
                                                        
                                                        <th *ngIf="editing">
                                                            Save
                                                        </th>
                                                        <th *ngIf="editing">
                                                            Cancel 
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr  *ngFor="let item of dishRank" [attr.data-index]="i" >
                                                            <td>
                                                                {{item.dt_id}}
                                                            </td>

                                                            <td *ngIf="!item.isEditing">
                                                                {{item.name}}                         
                                                            </td>
                                                            <td *ngIf="!!item.isEditing">
                                                                <input class = "form-control m-input" type="text" [(ngModel)]="item.name" >                         
                                                            </td>
                                                            
                                                            <td *ngIf="!item.isEditing">
                                                                {{item.level}}
                                                            </td>
                                                            <td *ngIf="!!item.isEditing">
                                                                <input  class = "form-control m-input" type="text" [(ngModel)]="item.level">                                                                    
                                                            </td>
                                                            <td *ngIf="!item.isEditing">
                                                                            <button style ='width:25px; 
                                                                            height: 25px; 
                                                                            margin-right:5px;
                                                                            border-color: transparent;
                                                                            padding: 0; ' 
                                                                            (click) = 'startEditing(item)'> 
                                                                            <img class="img-responsive" style ='width:100%; height: 100%' src="assets/icon/icon-edit.png"></button>  
                                                                            <button style ='width:25px; 
                                                                            height: 25px; 
                                                                            border-color: transparent;
                                                                            padding: 0; ' 
                                                                            (click) = 'startEditing(item)'> 
                                                                            <img class="img-responsive" style ='width:100%; height: 100%' src="assets/icon/icon-delete.png"></button>  
                                                            </td>
            
                                                            <td *ngIf="!!item.isEditing">
                                                                <button class="btn btn-warning"  (click)='saveDishRank(item)'>save</button>
                                                            </td>
                                                            <td *ngIf="!!item.isEditing">
                                                                <button class="btn btn-warning"  (click)='cancelEditing(item)'>cancel</button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table> 
                                                <button class= "btn btn-warning" (click)= 'saveToDatabase();' style="margin-right:20px">更改结束, 同步数据库</button>

                                                <br>                                                                                    
                                        </div>                               
                                </div>
                                <div class="tab-pane" id="m_tabs_4_3" role="tabpanel">
                                    <div class="m-section__content">
                                            <div style="margin-bottom:20px">
                                                    <button style="color: darkblue;border-color: darkblue;" type="button" class="btn btn-secondary" data-dismiss="modal">
                                                        批量删除(还未添加)
                                                    </button>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                    data-toggle="modal" data-target="#m_modal_2_1" style="margin-left: 63%;color: darkblue;border-color: darkblue;"
                                                    >
                                                        Add New Dish
                                                    </button>
                                                </div>
                                        <table class="table m-table m-table--head-separator-primary" >
                                            <thead>
                                            <tr>
                                                <th>
                                                    ID
                                                </th>
                                                <th>
                                                    Dish ID
                                                </th>
                                                <th>
                                                    Dish Type
                                                </th>
                                                <th>
                                                    Name
                                                </th>
                                                <th>
                                                    Price
                                                </th>
                                                <th>
                                                    Topping Group
                                                </th>
                                                <th>
                                                    Open
                                                </th>
                                                <th>
                                                    Edit
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr  *ngFor="let item of dishList" [attr.data-index]="i" >
                                                    <td>
                                                        {{item.ds_id}}
                                                    </td>
                                                    <td>
                                                        {{item.int_no}}
                                                    </td>
                                                    <td>
                                                       <select [(ngModel)]="item.dt_id" style="margin-right:20px" class="form-control m-input--fixed">
                                                          <option *ngFor="let option of typeOptions" [value]="option.dt_id">{{option.name}}</option>
                                                       </select>
                                                    </td>
                                                    <td>
                                                        {{item.ds_name}}
                                                    </td>
                                                    <td>
                                                        {{item.ds_price}}
                                                    </td>
                                                    <td>   
                                                        <span style = 'font-weight:bold' *ngFor="let dish of item.tpgs" class="m-badge m-badge--danger m-badge--wide m-badge--rounded">
                                                                {{dish.tpg_name}}
                                                        </span>
                                                    </td>
                                                    <td style="justify-content: center;
                                                    align-items: center;">
                                                        <input type="checkbox" [(ngModel)]="item.status" style = 'width:20px; height:20px' (ngModelChange)="setDishStatus(item)"> 
                                                    </td>
                                                    <td>
                                                          <button style ='width:25px; 
                                                          height: 25px; 
                                                          margin-right:5px;
                                                          border-color: transparent;
                                                          padding: 0; ' 
                                                          data-toggle="modal" data-target="#m_modal_2_1"

                                                          (click) = 'getDishDetail(item)'> 
                                                          <img class="img-responsive" style ='width:100%; height: 100%' src="assets/icon/icon-edit.png"></button>  
                                                          <button style ='width:25px; 
                                                          height: 25px; 
                                                          border-color: transparent;
                                                          padding: 0; ' 
                                                          (click) = 'startEditing(item)'> 
                                                          <img class="img-responsive" style ='width:100%; height: 100%' src="assets/icon/icon-delete.png"></button>  
                                                    </td>
                                                    
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br>                                             
                                </div>                       
                                </div>                              
                                <div class="tab-pane" id="m_tabs_4_4" role="tabpanel">
                                        <div class="m-section__content">
                                            <div style="margin-bottom:20px">
                                                <button style="color: darkblue;border-color: darkblue;" type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    批量删除(还未添加)
                                                </button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                data-toggle="modal" data-target="#m_modal_2" style="margin-left: 63%;color: darkblue;border-color: darkblue;"
                                                >
                                                    Add New Topping Group
                                                </button>
                                            </div>
                                                
                                                <table class="table m-table m-table--head-separator-primary" >
                                                        <thead>
                                                        <tr>
                                                            <th>
                                                                ID
                                                            </th>
                                                            <th>
                                                                Topping Group
                                                            </th>
                                                            <th>
                                                                Limit Amount
                                                            </th>
                                                            <th>
                                                                Topping
                                                            </th>
                                                            <th>
                                                                Note
                                                            </th>
                                                            <th>
                                                                Edit
                                                            </th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr  *ngFor="let item of toppingList" [attr.data-index]="i" >
                                                                <td>
                                                                    {{item.tpg_id}}
                                                                </td>

                                                                <td>
                                                                    {{item.tpg_name}}
                                                                </td>
                                                                <td>
                                                                    {{item.tpg_limit}}
                                                                </td>
                                                                <td  >
                                                                    <span *ngFor="let dish of item.tps" class="m-badge m-badge--danger m-badge--wide m-badge--rounded" style = 'margin-right:3px;font-weight:bold'>
                                                                         {{dish.tp_name}} + {{dish.tp_price}}
                                                                    </span>
                                                                </td>
                                                                <td>
                                                                        {{item.tpg_note}}
                                                                </td>
                                                                <td>
                                                                        <button style ='width:25px; 
                                                                        height: 25px; 
                                                                        margin-right:5px;
                                                                        border-color: transparent;
                                                                        padding: 0; ' 
                                                                        data-toggle="modal" data-target="#m_modal_2"
                                                                        
                                                                        (click) = 'getToppings(item)'> 
                                                                        <img class="img-responsive" style ='width:100%; height: 100%' src="assets/icon/icon-edit.png"></button>  
                                                                        <button style ='width:25px; 
                                                                        height: 25px; 
                                                                        border-color: transparent;
                                                                        padding: 0; ' 
                                                                        (click) = 'deleteToppings(item)'> 
                                                                        <img class="img-responsive" style ='width:100%; height: 100%' src="assets/icon/icon-delete.png"></button>  
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <br>               
                                        </div>                                    
                                </div>

                            </div>   
                        <!--end: Datatable -->
                        </div>
                    </div>
                    <div class="modal fade" id="m_modal_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">
                                           Topping Group
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">
                                                &times;
                                            </span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div style= 'display:inline-flex; width:100%;justify-content:center;margin-bottom:20px'>
                                                <p style = 'width:150px'>Topping Group</p>
                                                <input type="text" class="form-control"  [(ngModel)]="editTopping.tpg_name">
                                        </div>
                                        <div style= 'display:inline-flex; width:100%;justify-content:center;margin-bottom:20px'>
                                                <div style= 'display:inline-flex; width: 50%;margin-right:40px'>
                                                        <p style = 'width:150px;margin-right:30px'>Limit Amount</p>
                                                        <input type="text" class="form-control" [(ngModel)]="editTopping.tpg_limit">
                                                </div>
                                                <div style= 'display:inline-flex;width: 50%'>
                                                        <p style = 'width:70px'>Note</p>
                                                        <input type="text" class="form-control" [(ngModel)]="editTopping.tpg_note">
                                                </div>
                                        </div>
                                        <div style="display:inline-flex; margin-bottom:20px">
                                                <p>Toppings</p>
                                                <button style = 'margin-left:180%' (click) = 'addNewTopping()' class="btn btn-primary">Add New Topping</button>
                                        </div>
                                        
                                        <div>
                                                <table class="table m-table m-table--head-separator-primary" >

                                                            <tr *ngFor="let dish of edittoppingList" [attr.data-index]="i">
                                                                <td *ngIf="!dish.isEditing">
                                                                    {{dish.tp_name}}
                                                                </td>
                                                                <td *ngIf="dish.isEditing">
                                                                    <input type="text" class="form-control" [(ngModel)]="dish.tp_name">
                                                                </td>
                                                                <td *ngIf="!dish.isEditing">
                                                                    {{dish.tp_price}}                         
                                                                </td>
                                                                <td *ngIf="dish.isEditing">
                                                                    <input type="text" class="form-control" [(ngModel)]="dish.tp_price">                         
                                                                </td>
                                                                <td>
                                                                        <button style ='width:25px; 
                                                                        height: 25px; 
                                                                        margin-right:5px;
                                                                        border-color: transparent;
                                                                        padding: 0; ' 
                                                                        (click) = 'startEditingTopping(dish)'> 
                                                                        <img class="img-responsive" style ='width:100%; height: 100%' src="assets/icon/icon-edit.png"></button>  
                                                                        <button style ='width:25px; 
                                                                        height: 25px; 
                                                                        border-color: transparent;
                                                                        padding: 0; ' 
                                                                        (click) = 'deleteTopping(dish)'> 
                                                                        <img class="img-responsive" style ='width:100%; height: 100%' src="assets/icon/icon-delete.png"></button>  
                                                                  </td>
                                                            </tr>

                                                    </table> 
                                        </div>
                                       
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            Close
                                        </button>
                                        <button type="button" class="btn btn-primary" (click) = 'saveEditTopping()'>
                                            Save changes
                                        </button>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="modal fade" id="m_modal_2_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">
                                               Dish
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">
                                                    &times;
                                                </span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div style= 'display:inline-flex; width:100%;justify-content:center;margin-bottom:20px'>
                                                    <div style= 'display:inline-flex; width: 50%;margin-right:40px'>
                                                            <p style = 'width:150px;margin-right:30px'>Dish Name</p>
                                                            <input type="text" class="form-control" [(ngModel)]="editDish.ds_name">
                                                    </div>
                                                    <div style= 'display:inline-flex;width: 50%'>
                                                            <p style = 'width:70px'>ID</p>
                                                            <input type="text" class="form-control" [(ngModel)]="editDish.int_no">
                                                    </div>
                                            </div>
                                            <div style= 'display:inline-flex; width:100%;justify-content:center;margin-bottom:20px'>
                                                    <div style= 'display:inline-flex; width: 50%;margin-right:40px'>
                                                            <p style = 'width:150px;margin-right:30px'>Dish Type</p>
                                                            <select [(ngModel)]="editDish.dt_id" style="width:100%;" class="form-control m-input--fixed">
                                                               <option *ngFor="let option of typeOptions" [value]="option.dt_id">{{option.name}}</option>
                                                            </select>
                                                    </div>
                                                    <div style= 'display:inline-flex;width: 50%'>
                                                            <p style = 'width:70px'>Price</p>
                                                            <input type="text" class="form-control" [(ngModel)]="editDish.ds_price">
                                                    </div>
                                            </div>
                                            <div style= 'display:inline-flex; width:100%;justify-content:center;margin-bottom:20px'>
                                                    <p style = 'width:150px;'>Topping Group</p>
                                                    <button style = 'margin-left:60%' (click) = 'addNewTopping()' data-toggle="modal" data-target="#m_modal_1" class="btn btn-primary">Add New Topping Group</button>
                                            </div>
                                            
                                            <div>
                                                    <table class="table m-table m-table--head-separator-primary" >
    
                                                                <tr *ngFor="let dish of editDishList" [attr.data-index]="i">
                                                                    <td *ngIf="!dish.isEditing">
                                                                        {{dish.tpg_name}}
                                                                    </td>
                                                                    <td *ngIf="dish.isEditing">
                                                                        <input type="text" class="form-control" [(ngModel)]="dish.tp_name">
                                                                    </td>
                                                                    
                                                                    <td>
                                                                            <button style ='width:25px; 
                                                                            height: 25px; 
                                                                            margin-right:5px;
                                                                            border-color: transparent;
                                                                            padding: 0; ' 
                                                                            (click) = 'startEditingTopping(dish)'> 
                                                                            <img class="img-responsive" style ='width:100%; height: 100%' src="assets/icon/icon-edit.png"></button>  
                                                                            <button style ='width:25px; 
                                                                            height: 25px; 
                                                                            border-color: transparent;
                                                                            padding: 0; ' 
                                                                            (click) = 'deleteTopping(dish)'> 
                                                                            <img class="img-responsive" style ='width:100%; height: 100%' src="assets/icon/icon-delete.png"></button>  
                                                                      </td>
                                                                </tr>
    
                                                        </table> 
                                            </div>
                                           
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                Close
                                            </button>
                                            <button type="button" class="btn btn-primary" (click) = 'setDishList()'>
                                                Save changes
                                            </button>
                                        </div>
                                    </div>
                                </div>
                    </div>
                    <div class="modal fade" id="m_modal_1" tabindex="-1" style = 'max-width:500px;left:35%; ' role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content" style="background-color:lightgrey">
                                        <div style="display:inline-flex;margin-bottom: 40px;margin-top: 40px;align-self:center">
                                                <span class="m-list-search__form-input-wrapper" style = 'margin-right:20px'>
                                                        <input class = "form-control m-input" autocomplete="off" type="text" name="q" [(ngModel)]="keyword" placeholder="Search...">
                                                </span>
                                                <button type="button" class="btn btn-primary" (click) = 'getToppingList(keyword)'>
                                                        Search
                                                </button> 
                                        </div>
                                        <hr>
                                        <table class="table m-table m-table--head-separator-primary" >
                                                <thead>
                                                <tr>
   
                                                    <th>
                                                        Topping Group
                                                    </th>
                                                    
                                                    <th>
                                                        Edit
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    <tr  *ngFor="let item of toppingList" [attr.data-index]="i" >
                                                       

                                                        <td>
                                                            {{item.tpg_name}}
                                                        </td>
                                                        
                                                        <td>
                                                            <button (click) = 'addTopping(item)' style="color: darkblue;border-color: darkblue;" type="button" class="btn btn-secondary" data-dismiss="modal">
                                                                选择
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




